.table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.table-footerBtn{
  display: flex;
  justify-content: center;
}
.table-footerBtn button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--black-bg);
  border-radius: 24px;
  background: transparent;
  color: var(--black-text);
  padding: 14px 24px;
  min-height: 48px;
  font-size: 19px;
  font-weight: 500;
  line-height: 120% !important;
  font-family: var(--grotesk-font);
  cursor: pointer;
  letter-spacing: 1.1px;
}
.table-footerBtn button:hover{
  background: var(--black-bg);
  color: var(--white-text);
}

/* Practice Activity Table Started  */

.ptt-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px !important;
  border-radius: 8px !important;
  border: none !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  font-family: var(--satoshi-font);
  min-height: 32px;
  text-align: center;
}
.done {
  background: var(--checkbg) !important;
  color: var(--checkText) !important;
}
.progress {
  background: var(--orangebg) !important;
  color: var(--orangetext) !important;
}
.cancel {
  background: var(--errorbg) !important;
  color: var(--delete) !important;
}
.blueprogress {
  background: var(--lightblue) !important;
  color: var(--blue-text) !important;
}
.Ticket {
  background: var(--purplebg) !important;
  color: var(--purpletext) !important;
}





/* Practice Activity Table Endead  */




/* Support Tickets Table Started  */
.MesssageDiv{
  max-width: 239px;
}
/* Support Tickets Table Endead  */


/* Activity Table Started  */
.AssignDiv button{
  border: 1px solid var(--lightgrey);
  background: var(--whitebg);
  min-width: 125px;
  /* min-height: 40px; */
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black-text);
}
.AssignDiv button .asignuser{
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  justify-content: center;
}
.AssignDiv button .asignuser img{
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--blue-text);
}
/* Activity Table Endead  */









/* ScheduleTable Started  */

.PetImg{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 0.67px solid var(--blue-text);
}
.userinfo{
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 60%;
  color: var(--black-text);
  font-size: 13px;
  font-weight: 700;
  font-family: var(--satoshi-font);
}
.userinfo span svg{
  font-size: 13px;
}
.ActionEyes{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--lightgrey);
  border: none !important;
}
.ActionEyes svg{
  font-size: 24px;
  color: var(--notibg);
}
.ActionEyes:hover{
  background: var(--black-grey1);
}
.ActionEyes:hover svg{
  color: var(--whitebg);
}

/* ScheduleTable Ended  */

.SingleBtnDiv button{
  background: transparent !important;
  border: none !important;
}
.SingleBtnDiv button svg{
  color: var(--black-bg);
}




/* Inventry Table Started  */

.inv-name-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inv-status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 100% !important;
}
.inv-status-dot.in-stock {
  background: var(--orange);
}
.inv-status-dot.low-stock {
  background: var(--red);
}

/* Inventry Table Ended  */




.status-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.status-badge {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px;
  border-radius: 8px;
}

.status-badge.in-progress {
  background-color: #fff4e5;
  color: var(--black-text);
  opacity: 100%;
}

.status-badge.checked-in {
  background-color: #e5f8f1;
  color: var(--black-text);
  opacity: 100%;
}

.status-badge.pending {
  background-color: #fdeaea;
  color: var(--black-text);
  opacity: 100%;
}

.action-dropdown {
  position: relative;
  z-index: 1;
}
.action-dropdown .dropdown-menu {
  z-index: 1;
}

.custom-toggle {
  cursor: pointer;
  display: inline-flex;
  padding: 6px;
  border-radius: 6px;
}

.menu-icon {
  font-size: 18px;
  color: #555;
}



/* Todays Appointemnt started  */

.Actionflex{
  display: flex;
  align-items: center;
  gap: 12px;
}
.action-btn-col button.circle-btn{
  padding: 0;
  background: transparent ;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-btn-col button.circle-btn svg{
  color: var(--black-bg);
}
.action-btn-col button.circle-btn.reply{
  background: var(--lightgrey);
}
.action-btn-col button.circle-btn.done{
  background: var(--checkbg);
}
.action-btn-col button.circle-btn.done svg{
  color: var(--lightgreen);
}
.action-btn-col button.circle-btn.view{
  background: var(--whitebg);
  border: 0.83px solid var(--black-bg);
}
.action-btn-col button.circle-btn.view svg{
  color: var(--black-bg);
}
/* Todays Appointemnt Ended */

.Likediv{
  display: flex;
  align-items: center;
  gap: 8px;
}



.btndropdown{
  display: flex;
  align-items: center;
  gap: 12px;
}
.btndropdown button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lightblue) !important;
  color: var(--blue-text) !important;
  padding: 12px;
  border-radius: 4px;
  min-height: 44px;
  min-width: 128px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  font-family: var(--satoshi-font);
}
.btndropdown button.grey{
  background: var(--popupbg) !important;
  color: var(--black-text) !important;
}



/* All Modal Started  */

/* delte modal  */
.UserDeleteModal .modal-content{
  background: var(--whitebg);
  border-radius: 24px;
  padding: 24px;
  border: 1px solid var(--lightgrey);
  max-width: 450px;
  box-shadow: 0px 0px 8px 0px #00000014;
}
.UserDeleteModal .modal-content .modal-body{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.UserDeleteModal .modal-content .modal-body .delteTexed{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.UserDeleteModal .modal-content .modal-body .delteTexed h2{
  color: var(--pureblack);
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  text-align: center;
}
.UserDeleteModal .modal-content .modal-body .delteTexed h6{
  color: var(--pureblack);
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.UserDeleteModal .modal-content .modal-body .ModalFtBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UserDeleteModal .modal-content .modal-body .ModalFtBtn button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 24px;
  border: 1.5px solid var(--black-text);
  min-width: 100px;
  min-height: 48px;
  border-radius: 28px;
  background: transparent;
  color: var(--black-text);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
}
.UserDeleteModal .modal-content .modal-body .ModalFtBtn button:hover{
  background: var(--black-bg);
  color: var(--white-text);
}
.UserDeleteModal .modal-content .modal-body .ModalFtBtn button.fill{
  background: var(--black-bg) !important;
  color: var(--white-text) !important;
}
.UserDeleteModal .modal-content .modal-body .ModalFtBtn button.fiil:hover{
  background: var(--whitebg) !important;
  color: var(--black-text) !important;
}
/* delte modal  */



/* EditModal modal  */

.UserEditModal .modal-content{
  background: var(--whitebg);
  border-radius: 24px;
  padding: 24px;
  border: 1px solid var(--lightgrey);
  max-width: 465px;
  box-shadow: 0px 0px 8px 0px #00000014;
}
.UserEditModal .modal-content .modal-body{
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.UserEditModal .modal-content .modal-body .EditUserBasic , .UserEditModal .modal-content .modal-body .EditUserPermission ,  .UserEditModal .modal-content .modal-body .EditUserBasic form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.UserEditModal .modal-content .modal-body .EditUserBasic h6 , .UserEditModal .modal-content .modal-body .EditUserPermission h6{
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
  margin: 0;
}






.featureList {
  width: 340px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 0 1px #ddd;
}

.featureItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.featureName {
  font-family: "Helvetica", sans-serif;
  color: #222;
}

.disabled {
  color: #aaa;
}

:global(.form-check-input:disabled) {
  cursor: not-allowed;
  background-color: #ccc;
}



/* EditModal modal  */






/* All Modal Ended */








