.header-navbar{
  background: var(--whitebg);
  max-height: 100px;
}
.HeaderNavLink a{
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--black-text);
  font-family: var(--grotesk-font);
}
.HeaderNavLink a:hover{
  color: var(--blue-text);
}