.AdminDashboardSec{
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    padding: 20px 30px;
    transition: .5s ease;
}
.AdminDashboardSec.active { 
    width: calc(100% - 60px); 
    left: 60px; 
}
.Main_Content{
    display: grid;
    grid-template-rows: 100px auto;
}



/* DashcardDiv */
.DashcardDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
}
.DashcardDiv .Dashcard{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: .5rem;
    border-radius: 0.5rem;
}
.DashcardDiv .Dashcard .crdhedr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DashcardDiv .Dashcard .crdhedr .Crdtexted p{
    font-size: .875rem ;
    line-height: 1.5;
    margin: 0;
    color: var(--paragraph-color);
    font-weight: 400;
}
.DashcardDiv .Dashcard .crdhedr .Crdtexted h4{
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.375;
    color: var(--heading-color);
    font-weight: 700;
}
.DashcardDiv .Dashcard .crdhedr .crdicon{
    width: 48px;
    height: 48px;
    border-radius: .5rem;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(64, 64, 64, .4);
    background: linear-gradient(195deg, #42424a, #191919);
    display: flex;
    align-items: center;
    justify-content: center;
}
.DashcardDiv .Dashcard .crdhedr .crdicon svg{
    color: #fff;
    font-size: 1.4rem;

}
.DashcardDiv .Dashcard .crdfotr p{
    font-size: .875rem ;
    line-height: 1.5;
    margin: 0;
    color: var(--paragraph-color);
    font-weight: 400;

}


  

/* DashcardDiv */